.ingredient{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(10%), 1fr));
    padding: 8px;
}
.ingredient-button{
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 4px 0;
    background-image: url('image/craftingTable/Crafting_Table_GUI.jpg');
    background-size: cover;
    color: white;
    font-family: serif;

}

.foodTable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;

}
.previouslyFoodDiv{
    padding: 8px;
    grid-column: 1;
    grid-row: 1 / 8;
    color: white;
    font-family: serif;
}

.previouslyFoodBGDiv {
    background-image: url('image/pageimages/minecraft-stone-brick-texture.webp');
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: auto;
}

.mixrButtonDiv{
    display: flex;
    justify-content: center;
   
    
    
    
}
.tableForIngredientMainDiv{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(25%), 1fr));
    height: 160px;
    border: 1px solid black;
    
}

.tableForIngredient{
    background-image: url("./image/craftingTable/Crafting_Table_GUI.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;

}



.craftedFoodDiv{
    padding: 8px;
    justify-content: center;
    grid-column: 3;
    grid-row: 1 / 8;
    color: white;
    font-family: serif;
    
}


.craftedFoodBGDiv {
    background-image: url('image/pageimages/Crafting_Table_JE3_BE2.webp');
    background-size: cover;
    height: 400px;
    width: 400px;
    margin: auto;
}
.addedIngredient{
   

}

.navbar {
    background-image: url('image/pageimages/wp10944792.png');
    
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-family: serif;
}

h3 {
    color: white;
    font-family: serif;
}

body {
    background-image: url('image/pageimages/Dirt_background_BE1.webp');
    background-size: cover; 
}

.btn {
    background-image: url('image/pageimages/wp10944792.png');
    color: white;
    font-family: serif;
    width: 120px;
    height: 80px;
    border: 2px white solid;
}

